.best-offer {
  background-color:  #66C05D;
}

.best-offer__inner {
  padding: 75px 10px;
  background-image: url("../assets/images/chair.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 205px auto;
}

@media (min-width: $tablet-width) {
  .best-offer__inner {
    padding: 115px 20px;
    background-image: url("../assets/images/chair-tablet.png");
    background-size: 515px auto;
  }
}

@media (min-width: $desktop-width) {
  .best-offer__inner {
    max-width: 1250px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 192px 70px;
    background-image: url("../assets/images/chair-desktop.png");
    background-size: auto;
  }
}

.best-offer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .best-offer__title {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .best-offer__title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}

.best-offer__desc {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .best-offer__desc {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .best-offer__desc {
    margin-bottom: 50px;
  }
}

.best-offer__button {
  letter-spacing: 0.05em;
  padding: 12px 43px;
}
