.button {
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 40px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}

.button--green {
  background: #66c05d;
  border-radius: 30px;
  padding: 10px 40px;
  color: #ffffff;

  &:hover {
    outline: 2px solid #000000;
    color: rgba(0, 0, 0, 0.7);
  }

  &:focus {
    outline: 2px solid #000000;
  }
}

.button--green-transparent {
  color: #000000;
  padding: 10px 26px;
  border: 2px solid #66c05d;

  &:hover {
    border-color: #000000;
    color: rgba(0, 0, 0, 0.7);
  }

  &:focus {
    outline: none;
    border: 2px solid #000000;
  }
}

.button--white-transparent {
  border: 2px solid #ffffff;
  color: #ffffff;

  &:hover {
    border-color: #000000;
    color: rgba(0, 0, 0, 0.7);
  }

  &:focus {
    outline: none;
    border: 2px solid #000000;
  }
}
