.gifts {
  background-image: url("../assets/images/envelope.png");
  background-repeat: no-repeat;
  background-position: center right 45px;
}

.gifts__input {
  width: 225px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 30px;
  padding-left: 25px;
  border: none;

  &:invalid:focus {
    outline: 2px solid #ff0000;
  }
}
