.main-nav__list {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: center;
  }
}

.main-nav__item {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    box-shadow: none;
  }
}

.main-nav__link {
  display: block;
  color: #333333;
  text-decoration: none;
  text-align: center;
  line-height: 16px;
  padding: 17px 15px 16px;

  &:hover {
    opacity: 0.7;
  }

  &:focus-within {
    outline: none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
}
