.page-header {
  border-bottom: 1px solid #EFEFEF;
}

.page-header__inner {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__inner {
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-header__inner {
    max-width: $desktop-width;
    box-sizing: border-box;
    margin: 0 auto 20px;
    padding: 0 45px;
  }
}


.page-header__logo-img--tablet-visible {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__logo-img--tablet-visible {
    display: block;
  }

  .page-header__logo-img--mobile-visible {
    display: none;
  }
}
