.social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #66c05d;
  fill: #66c05d;

  &:hover {
    border-color: #000000;
    fill: #000000;
  }

  &:focus-within {
    border-color: transparent;
    fill: #66c05d;
  }
}
