$desktop-width: 1200px;
$tablet-width: 660px;
$mobile-width-only: 659px;

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
